.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-black-container {
  background: url(./assets/waves.svg) center bottom no-repeat;
  background-size: contain;
  background-color: black;
  min-height: 100vh;
  border-radius: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 992px) {
  .divider {
    display: none !important;
  }
}

.dashboard-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 32px;
}

@media (min-width: 992px) {
  .nav-padding {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.hero-main-text {
  color: #92fcc3;

  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-sub-text {
  max-width: 435px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .hero-main-text {
    font-size: 54px;
  }
}

@media screen and (max-width: 350px) {
  .hero-main-text {
    font-size: 50px;
  }
}
.hero-button {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 16px 24px;

  width: 192px;
  height: 64px;
  left: 0px;
  top: 372px;
  border-radius: 32px;

  border: none;
}
